<header class="header header_style_01">
  <nav class="megamenu navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img
            src="/images/logo.png"
            alt="school_logo"
            height="50px"
            width="50px"
          /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="{{home}}" href="/">Home</a></li>
          <li><a class="{{about}}" href="/about-us">About us </a></li>
          {{!-- <li><a class="{{register}}" href="/accounts/create-account">Register</a></li> --}}
          <li><a class="{{gallery}}" href="/gallery">Gallery</a></li>
          <li><a class="{{properties}}" href="/properties">Properties</a></li>
          <li><a class="{{login}}" href="/users/login">Login</a></li>
          <li class="social-links">
            <a href="#"><i class="fa fa-twitter global-radius"></i></a>
          </li>
          <li class="social-links"><a href="#"><i
                class="fa fa-facebook global-radius"
              ></i></a></li>
          <li class="social-links"><a href="#"><i
                class="fa fa-linkedin global-radius"
              ></i></a></li>
          <li class="search-option">
            <button
              class="search tran3s dropdown-toggle"
              id="searchDropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            ><i class="fa fa-search" aria-hidden="true"></i></button>
            <form
              action="#"
              class="p-color-bg dropdown-menu tran3s"
              aria-labelledby="searchDropdown"
            >
              <input type="text" placeholder="Search...." />
              <button class="p-color-bg"><i
                  class="fa fa-search"
                  aria-hidden="true"
                ></i></button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>