<div class="left-side-bar">
  <div class="brand-logo">
    <a href="/">
      <img
        src="/images/logo.png"
        alt=""
        class="light-logo"
        height="50px"
        width="50px"
      />
    </a>
    <div class="close-sidebar" data-toggle="left-sidebar-close">
      <i class="ion-close-round"></i>
    </div>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <li class="dropdown">
          <a href="/users/{{role}}" class="dropdown-toggle no-arrow {{home}}">
            <span class="micon bi bi-house"></span><span
              class="mtext"
            >Home</span>
          </a>
        </li>
        {{#ifEqual role "admin"}}
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon bi bi-textarea-resize"></span>
            <span class="mtext">Teachers</span>
          </a>
          <ul class="submenu">
            <li><a href="/users/admin/teachers">View Teachers</a></li>
            <li>
              <a href="/users/admin/register-teachers">Register Teachers</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon bi bi-table"></span><span
              class="mtext"
            >Students</span>
          </a>
          <ul class="submenu">
            <li><a href="/users/admin/students">View Students</a></li>
            <li><a href="/users/admin/register-students">Register Students</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon bi bi-table"></span><span
              class="mtext"
            >Results</span>
          </a>
          <ul class="submenu">
            <li><a href="/users/admin/results">View Results</a></li>
            <li><a href="/users/admin/results-archives">Archive</a></li>
          </ul>
        </li>
        {{/ifEqual}}
        {{#ifEqual role "teacher"}}
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon bi bi-table"></span><span
              class="mtext"
            >Students</span>
          </a>
          <ul class="submenu">
            <li><a href="/users/teacher/students">View Students</a></li>
            <li><a href="/users/teacher/register-students">Register Students</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon bi bi-table"></span><span
              class="mtext"
            >Results</span>
          </a>
          <ul class="submenu">
            <li><a href="/users/teacher/results">View Results</a></li>
            <li><a href="/users/teacher/create-results">Create Results</a></li>
          </ul>
        </li>
        {{/ifEqual}}
        {{#ifEqual role "student"}}
        <li>
          <a href="/users/student/results" class="dropdown-toggle no-arrow {{result}}">
            <span class="micon bi bi-calendar4-week"></span><span
              class="mtext"
            >Results</span>
          </a>
        </li>
        <li>
          <a href="/users/student/check-result" class="dropdown-toggle no-arrow {{checkResult}}">
            <span class="micon bi bi-calendar4-week"></span><span
              class="mtext"
            >Result Checker</span>
          </a>
        </li>
        {{/ifEqual}}
        {{#ifEqual role "admin"}}
        <li>
          <a href="/users/admin/gallery" class="dropdown-toggle no-arrow {{gallery}}">
            <span class="micon bi bi-calendar4-week"></span><span
              class="mtext"
            >Gallery</span>
          </a>
        </li>
        {{/ifEqual}}
        <li>
          <div class="dropdown-divider"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>