{{#if result}}
  <br />
  <page size="A4">
    <div style="padding: 0 30px;">
      <div class="join">
        <div class="row"><br />
          <div class="col-xs-3">
            <img
              src="/logo.png"
              class="img-responsive"
              style="background-color: #ccc;padding: 10px;max-width: 70%;"
              alt="Logo"
            />
          </div>
          <center>
            <div class="col-xs-6" style="">
              <h3
                class="text-uppercase"
                style="font-weight: 800; text-shadow: 2px 2px #ccc; color: #007bff"
              >RESULT PORTAL SEC SCHOOL.</h3>
              <p> 24 HOUSE ADDRESS ENUGU STATE, NIGERIA.</p>
              {{! <p><code>https://www.portal.mbjuturu.org/ </code></p> }}
            </div>
          </center>
          {{! <div class="col-xs-3">
            <img
              src="Student%20Mark%20Sheet_files/1759.jpg"
              class="img-circle"
              width="110"
            />
          </div> }}
          <div class="col-xs-12">
            <div class="text-center text-uppercase"><strong>Student Termly Report
                Sheet</strong></div>
          </div>
        </div>
        <div class="row">
          <br />
          <div class="col-xs-4">
            <table
              class="table table-bordered"
              style="text-transform: capitalize;"
            >
              <tbody>
                <tr>
                  <th>Name</th>
                  <td style="color: #28a745;"><b>{{capitalize
                        result.name
                      }}</b></td>
                </tr>
                <tr>
                  <th>Class</th>
                  <td style="color: #28a745;"><b>{{capitalize
                        result.className
                      }}</b></td>
                </tr>
                <tr>
                  <th>Session</th>
                  <td style="color: #28a745;"><b>{{result.session}}</b></td>
                </tr>
                <tr>
                  <th>Term</th>
                  <td style="color: #28a745;"><b>{{result.term}}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-4">
            <table
              class="table table-bordered"
              style="text-transform: capitalize;"
            >
              <tbody>
                <tr>
                  <th>Term Perfomance</th>
                  <td><b>{{result.perfomance}}</b></td>
                </tr>
                <tr>
                  <th>Class Average</th>
                  <td><b id="cl-ave"></b></td>
                </tr>
                <tr>
                  <th>Child's Average</th>
                  <td><b id="c-ave"></b></td>
                </tr>
                <tr>
                  <th>Total Subjects</th>
                  <td><b id="total-sub">{{result.totalSubject}}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-4">
            <table
              class="table table-bordered"
              style="text-transform: capitalize;"
            >
              {{! <tbody>
                <tr>
                  <th>General Performance</th>
                  <td> 64%</td>
                </tr>
                <tr>
                  <th>Grade Performance</th>
                  <td>
                    64.44%
                  </td>
                </tr>
                <tr>
                  <th>psychomotor Performance</th>
                  <td>63.33%</td>
                </tr>
                <tr>
                  <th>affective Performance</th>
                  <td>63.33%</td>
                </tr>
              </tbody> }}
            </table>
          </div>
        </div>

        <div class="row">
          <br />
          <div class="col-xs-12">
            <h5 class="text-bold">Cognitive Domain</h5>
            <table class="table table-bordered">
              <tbody>
                <tr class="table-warning">
                  <th class="cap">Subjects</th>
                  <th>1ST ASSESSMENT (30)</th>
                  <th>2ND ASSESSMENT (30)</th>
                  <th>PROJECT</th>
                  <th>EXAM</th>
                  <th class="cap">TOTAL</th>
                  <th class="cap">SUBJECT AVERAGE</th>
                  <th class="cap">GRADE</th>
                </tr>
                {{#if subjects}}
                  {{#each subjects}}
                    <tr class="table-row">
                      <td>{{this.title}}</td>
                      <td class="firstAss">{{this.firstAss}}</td>
                      <td class="secAss">{{this.secAss}}</td>
                      {{!-- <td class="thirdAss">{{this.thirdAss}}</td> --}}
                      <td class="project">{{this.project}}</td>
                      <td class="exam">{{this.exam}}</td>
                      <td class="totals">{{addNumbers
                          this.firstAss
                          this.secAss
                          this.project
                          this.exam
                        }}</td>
                      <td class="average">{{this.subAve}}</td>
                      <td>{{checkGrade
                          this.firstAss
                          this.secAss
                          this.project
                          this.exam
                        }}</td>
                    </tr>
                  {{/each}}
                {{/if}}

                <tr>
                  <td><b>Total</b></td>
                  <td><b id="first-ass-total"></b></td>
                  <td><b id="sec-ass-total"></b></td>
                  {{! <td><b id="third-ass-total"></b></td> }}
                  <td><b id="project-total"></b></td>
                  <td><b id="exam-total"></b></td>
                  <td><b id="total-total"></b></td>
                  <td><b id="average-total"></b></td>
                  <td style="display: none;">
                    <b style="display: none;" id="total-sub">
                      {{result.totalSubject}}
                    </b>
                  </td>
                  <td></td>
                </tr>
              </tbody></table>
            {{! <div class="row">
              <div class="col-xs-6">
                <div>
                  <h5 class="dock">Total Marks Obtained:
                    <strong>1095.5 / 1700</strong>
                    <br />&nbsp;(17 Subjects recorded)</h5>
                </div>
              </div>
              <div class="col-xs-6">
                <div>
                  <h5 class="dock"><b>Position overall in UB 3 (cummulative)</b>:
                    <strong>102</strong>
                    out of
                    <strong>176</strong></h5>
                </div>
              </div>
            </div> }}
            <div class="row">
              <br />
              <div class="col-xs-12">
                <p class="text-bold dock">Head Teacher's Comment: &nbsp; &nbsp;
                  <span><i>{{result.hcomment}}</i></span>
                </p>
                <p class="text-bold dock">Teacher's Comment: &nbsp; &nbsp;
                  <span><i>{{result.tcomment}}</i></span>
                </p>
              </div>
            </div>
          </div>
          <!-- domians -->
          <div class="row">
            <br />
            <div class="col-xs-3">
              <h5 class="text-bold">PSYCHOMOTOR Domain (1-5)</h5>
              <table class="table table-bordered">
                <tbody><tr>
                    <th>Skills</th>
                    <th>Rating</th>
                  </tr>
                  <tr>
                    <td>GAMES</td>
                    <td>
                      4
                    </td>
                  </tr>
                  <tr>
                    <td>CARRYING OUT ASSIGNMENT</td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>NEATNESS</td>
                    <td>
                      2.5
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-3">
              <h5 class="text-bold">AFFECTIVE Domain (1-5)</h5>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Skills</th>
                    <th>Rating</th>
                  </tr>
                  <tr>
                    <td>POLITENESS</td>
                    <td>
                      3.5
                    </td>
                  </tr>
                  <tr>
                    <td>OBEDIENCE</td>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <td>COMMUNICATION</td>
                    <td>
                      3
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <br />
          <div class="col-xs-5">
            <h5 class="text-bold">Cognitive Keys</h5>
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <th>85.00 - 100.00</th>
                  <td>E (EXCELLENT)</td>
                </tr>
                <tr>
                  <th>79.00 - 84.00</th>
                  <td>G (GOOD)</td>
                </tr>
                <tr>
                  <th>65.00 - 78.00</th>
                  <td>S (SATISFACTORY)</td>
                </tr>
                <tr>
                  <th>55.00 - 64.00</th>
                  <td>NI (NEEDS IMPROVEMENT)</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-4 text-center">
            <img src="" alt="Signature" width="150" />
            <p>&nbsp;</p>
            <h4>Head Teacher's Name</h4>
            <h5 class="text-bold">Management </h5>
          </div>

          <div class="col-xs-3" style="float: right;">
            <h5 class="text-bold">Next Term Begins:</h5>
            <h4>{{result.resDate}}</h4>
            {{! <img
              src="Student%20Mark%20Sheet_files/1759.png"
              class="img-responsive"
              style="width:120px"
            /> }}
          </div>
        </div>
      </div>
    </div>
  </page>
{{else}}
  <div>
    <h1 style="text-align: center; mt1">Unauthorized Access</h1>
  </div>
{{/if}}

{{#if admin}}
  <div
    style="margin: 20px auto; display: flex; align-items: center; justify-content: center; max-width: 760px"
  >
    <div>
      <form
        action="/users/admin/add-message"
        style="width: 100%;"
        method="POST"
      >
        <label for="">Enter Message</label>
        <textarea
          name="message"
          id=""
          cols="30"
          rows="10"
          style="display: block;"
        >{{result.message}}</textarea>
        <input
          type="input"
          value="{{result.resultId}}"
          name="resultId"
          style="display:none"
          id="id"
        />
        <input
          type="submit"
          value="Send"
          style="padding: 10px 5px; width: 100%; background-color: #007bff; color: #fff; outline: none; margin-top: 15px; border: none;"
        />
        <input
          type="button"
          value="Clear"
          style="padding: 10px 5px; width: 100%; background-color: #6c757d; color: #000; outline: none; margin-top: 15px; border: none;"
        />
      </form>
    </div>
  </div>
<script>
  const form = document.createElement("form")
  const input = document.querySelector("#id")
  const clearInput = document.querySelector("input[value='Clear']")

    form.setAttribute("action", "/users/admin/add-message")
    form.setAttribute("method", "POST")

    form.append(input)

    document.querySelector(".row").append(form)

    clearInput.addEventListener("click", () => {
      form.submit()
    })
    
</script>
{{/if}}


<script src="/js/result-main.js"></script>