{{> dash_loader}}
{{> dash_header}}
{{> left_sidebar}}
<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="card-box mb-30">
      <div class="pd-20">
        <h4 class="text-blue h4">Result Archives</h4>
      </div>
      <div class="pb-20">
        <div id="" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            {{! <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="DataTables_Table_0_length">
                <label>Show
                  <select
                    name="DataTables_Table_0_length"
                    aria-controls="DataTables_Table_0"
                    class="custom-select custom-select-sm form-control form-control-sm"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="-1">All</option>
                  </select>
                  entries</label>
              </div>
            </div> }}
            <div class="col-sm-12 col-md-6">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>Search:<input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search"
                    aria-controls="DataTables_Table_0"
                  />
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table
                class="data-table table stripe hover nowrap dataTable no-footer dtr-inline checkbox-datatable"
                role="grid"
                aria-describedby="DataTables_Table_0_info"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="table-plus datatable-nosort sorting_asc"
                      rowspan="1"
                      colspan="1"
                      aria-label="Session"
                    >Session</th>
                    <th
                      class="table-plus datatable-nosort sorting_asc"
                      rowspan="1"
                      colspan="1"
                      aria-label="Tokens"
                    >Tokens</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if session}}
                    {{#each session}}
                      <tr role="row" class="odd" id="{{this.resultId}}">
                        <td class="table-plus sorting_1" tabindex="0">
                          <a href="/users/admin/results-archives/{{this}}">
                            View
                            {{this}}
                            Results
                          </a>
                        </td>
                        <td class="table-plus sorting_1" tabindex="0">
                          <a href="/users/admin/tokens/{{this}}">
                            View Generated tokens for
                            {{this}}
                            Results
                          </a>
                        </td>
                      </tr>
                    {{/each}}
                  {{else}}
                    <tr role="row" class="even">
                      <td class="table-plus sorting_1" tabindex="0">No Data
                        Available</td>
                    </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> scripts}}
{{> _toasts}}
{{> _toast_footer}}