<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="/users/admin" class="logo">Result Portal</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/admin" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">home</span>

              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/teachers" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">group</span>

              <span>Teachers</span>
            </a>
          </li>
          <li>
            <a
              href="/users/admin/register-teachers"
              class="navbar-link icon-box"
            >
              <span class="material-symbols-rounded icon">how_to_reg</span>

              <span>Register Teacher</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/results" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">local_library</span>

              <span>Results</span>
            </a>
          </li>
          <li>
            <a
              href="/users/admin/results-archives"
              class="navbar-link active icon-box"
            >
              <span class="material-symbols-rounded icon">archive</span>

              <span>Archives</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li>
        </ul>

        <ul class="user-action-list">
          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">{{name}}</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>

<main>
  <article class="container article">

    <h2 class="h2 article-title">Hi {{user}}</h2>

    <p class="article-subtitle">Welcome to Result Portal</p>

    <section class="tasks">

      <div class="section-title-wrapper">
        <h2 class="section-title">Results</h2>
        <p id="host" style="display: none;">{{host}}</p>
      </div>

      {{#if session}}
        {{#each session}}
          <ul class="tasks-list">
            <li class="tasks-item" style="margin-bottom: 7px;">
              <div class="card task-card">
                <div class="card-input">
                  <label for="task-1" class="task-label">
                    <a href="/users/admin/results-archives/{{this}}">View
                      {{this}}
                      Results</a>
                  </label>
                </div>
                <ul class="card-meta-list">
                  <li>
                    <div class="card-badge blue">
                      <a
                        style="color: #fff;"
                        href="/users/admin/tokens/{{this}}"
                        target="_blank"
                      >View generated tokens for {{this}}</a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        {{/each}}
      {{else}}
        <ul class="tasks-list">
          <li class="tasks-item">
            <div class="card task-card">
              <div class="card-input">
                <input type="checkbox" name="task-1" id="task-1" />
                <label for="task-1" class="task-label">
                  No Result Available
                </label>
              </div>
            </div>
          </li>
        </ul>
      {{/if}}
    </section>
  </article>
</main>

<script src="/js/admin-result.js"></script>