{{> dash_loader}}
{{> dash_header}}
{{> left_sidebar}}

<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="title pb-20">
      <h2 class="h3 mb-0">Edit Teacher</h2>
    </div>

    <!-- Default Basic Forms Start -->
<div class="pd-20 card-box mb-30">
  <div class="clearfix">
    <div class="pull-left">
      <h4 class="text-blue h4">Default Basic Forms</h4>
    </div>
  </div>
  {{#if Teacher}}
  <form action="/users/admin/update-teacher" method="POST" autocomplete="off">
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Name</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" placeholder="Teacher Name" name="name" value="{{Teacher.name}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Class</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" placeholder="Teacher Class" name="className" value="{{Teacher.className}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Username</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" placeholder="Teacher Username" name="username" autocomplete="off" value="{{Teacher.username}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Session</label>
      <div class="col-sm-12 col-md-10">
			<select class="custom-select col-12" name="session">
				<option>Select Current Session</option>
				<option class="sessions" value="2020-2021">2020-2021</option>
				<option class="sessions" value="2021-2022">2021-2022</option>
				<option class="sessions" value="2022-2023">2022-2023</option>
				<option class="sessions" value="2023-2024">2023-2024</option>
				<option class="sessions" value="2024-2025">2024-2025</option>
				<option class="sessions" value="2025-2026">2025-2026</option>
				<option class="sessions" value="2026-2027">2027-2026</option>
				<option class="sessions" value="2027-2028">2027-2028</option>
				<option class="sessions" value="2029-2029">2029-2029</option>
				<option value="{{Teacher.session}}" id="current-session-value"></option>
			</select>
		</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Term</label>
      <div class="col-sm-12 col-md-10">
			<select class="custom-select col-12" name="term">
				<option>Select Current Term</option>
				<option class="terms" value="1st">1st</option>
				<option class="terms" value="2nd">2nd</option>
				<option class="terms" value="3rd">3rd</option>
				<option id="current-term-value" value="{{Teacher.term}}"></option>
			</select>
		</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Resumption</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" placeholder="Next Resumption Date" name="resDate" value="{{Teacher.resDate}}" />
      </div>
    </div>
    <div id="sub-child">
      {{#if subjectsArray}}
      {{#each subjectsArray}}
      <div class="form-group row">
        <label class="col-sm-12 col-md-2 col-form-label">Subject {{this.number}}</label>
        <div class="col-sm-12 col-md-10">
          <input class="form-control" type="text" placeholder="Subject" name="{{this.name}}" id="{{this.id}}" value="{{this.value}}" />
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label"></label>
      <div class="pull-right" style="margin: 10px auto;">
      <button
        id="add-subject"
        class="btn btn-primary btn-sm"
        type="button"
      ><i class="fa fa-code"></i> Add Subject</button>
    </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Email</label>
      <div class="col-sm-12 col-md-10">
        <input
          class="form-control"
          value="{{Teacher.email}}"
          type="email"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Password</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" name="password" type="password" autocomplete="off" autofill="off" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Repeat Password</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" name="password2" type="password" />
      </div>
    </div>
    <div style="display:none;">
      <input type="text" value="{{Teacher._id}}" name="id" />
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label"></label>
      <div class="pull-right" style="margin: 10px auto;">
      <button
        class="btn btn-primary btn-lg"
        style="width: 100%;"
        type="submit"
      >Update Teacher</button>
    </div>
    </div>
  </form>
  {{else}}
  {{/if}}
</div>
<!-- Default Basic Forms End -->
  </div>
</div>
{{> scripts}}
{{> _toasts}}
{{> _toastfooter}}
<script>
  const sessions = document.querySelectorAll(".sessions")
  const currentSessionValue = document.querySelector("#current-session-value").value;

  sessions.forEach((session) => {
    const value = session.getAttribute("value");
    if (value === currentSessionValue) {
      session.setAttribute("selected", "");
    }
  });

  const terms = document.querySelectorAll(".terms")
  const currentTermValue = document.querySelector("#current-term-value").value;

  terms.forEach((term) => {
    const value = term.getAttribute("value");
    if (value === currentTermValue) {
      term.setAttribute("selected", "");
    }
  });
</script>
<script>
  const subChild = document.getElementById('sub-child');
  const addSubject =  document.getElementById('add-subject');

  addSubject.addEventListener('click',  () => { 
    let input = document.createElement('input');
    let firstDiv = document.createElement('div');
    let secondDiv = document.createElement('div');
    let thirdDiv = document.createElement('div');
    let label = document.createElement("label")
    let button = document.createElement('button');

    let lastChild = subChild.lastElementChild;
    let lastInput = lastChild.children[1].firstElementChild;

    let newArray = lastInput.getAttribute('id').split('-');
    let number = parseInt(newArray[1]);

    firstDiv.setAttribute('class', 'form-group row');

    label.setAttribute("class", "col-sm-12 col-md-2 col-form-label");
    label.innerText = `Subject ${number +1}`;

    secondDiv.setAttribute('class', 'col-sm-12 col-md-10');

    input.setAttribute('type', `text`);
    input.setAttribute('id', `sub-${number +1}`);
    input.setAttribute('name', `sub${number +1}`);
    input.setAttribute('placeholder', `Subject...`);
    input.setAttribute('style', `flex: 1;`);
    input.setAttribute('class', `form-control`);

    button.setAttribute('class', 'btn btn-danger btn-sm remove');
    button.setAttribute('href', '#');
    button.setAttribute('type', 'button');
    button.innerText = 'remove';

    thirdDiv.setAttribute("class", "pull-right");
    thirdDiv.setAttribute("style", "margin: 10px auto;");

    thirdDiv.append(button);
    secondDiv.append(input); secondDiv.append(thirdDiv);
    firstDiv.append(label); firstDiv.append(secondDiv);

    subChild.append(firstDiv);
    });
    subChild.addEventListener('click', (e) => {
      if(e.target.classList.contains('remove')){ 
        var div = e.target.parentElement.parentElement.parentElement;
        subChild.removeChild(div); 
        }
    })
</script>