{{> dash_loader}}
{{> dash_header}}
{{> left_sidebar}}
<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="card-box mb-30">
      <div class="pd-20">
        <h4 class="text-blue h4">Result Data Table</h4>
      </div>
      <div class="pb-20">
        <div id="" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            {{! <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="DataTables_Table_0_length">
                <label>Show
                  <select
                    name="DataTables_Table_0_length"
                    aria-controls="DataTables_Table_0"
                    class="custom-select custom-select-sm form-control form-control-sm"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="-1">All</option>
                  </select>
                  entries</label>
              </div>
            </div> }}
            <div class="col-sm-12 col-md-6">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>Search:<input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search"
                    aria-controls="DataTables_Table_0"
                  />
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a
                href="#"
                class="btn-block"
                data-toggle="modal"
                id="modal-1"
                data-target="#success-modal"
                type="button"
                style="display: none;"
              >
                <img src="vendors/images/modal-img3.jpg" alt="modal" />
              </a>
              <div
                class="modal fade"
                id="success-modal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body text-center font-18">
                      <div id="success-show" style="display: none;">
                        <h3 class="mb-20">Approved</h3>
                        <div class="mb-30 text-center">
                          <img src="/vendors/images/success.png" />
                        </div>
                      </div>
                      <div class="progress mb-20" id="loading">
                        <div
                          class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                          role="progressbar"
                          style="width: 100%"
                          aria-valuenow="0"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        id="remove-modal"
                        style="display: none;"
                      >
                        Done
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <table
                class="data-table table stripe hover nowrap dataTable no-footer dtr-inline checkbox-datatable"
                role="grid"
                aria-describedby="DataTables_Table_0_info"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="dt-body-center sorting_disabled"
                      rowspan="1"
                      colspan="1"
                      aria-label=""
                    >
                      <div class="dt-checkbox">
                        <input
                          type="checkbox"
                          name="select_all"
                          id="general-check"
                        />
                        <span class="dt-checkbox-label"></span>
                      </div>
                    </th>
                    <th
                      class="table-plus datatable-nosort sorting_asc"
                      rowspan="1"
                      colspan="1"
                      aria-label="Name"
                    >Name</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Address: activate to sort column ascending"
                    >Teacher</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Start Date: activate to sort column ascending"
                    >Date</th>
                    <th
                      class="datatable-nosort sorting_disabled"
                      rowspan="1"
                      colspan="1"
                      aria-label="Action"
                    >Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if Result}}
                    {{#each Result}}
                      <tr role="row" class="odd" id="{{this.resultId}}">
                        <td class="dt-body-center" tabindex="0" style="padding-left: 45px;">
                          <div class="dt-checkbox">
                            <input
                              type="checkbox"
                              name="results"
                              class="check-box"
                              value="{{this.resultId}}"
                              {{!-- id="{{this.resultId}}" --}}
                            />
                            <span class="dt-checkbox-label"></span>
                          </div>
                        </td>
                        <td
                          class="table-plus sorting_1"
                          tabindex="0"
                        >{{capitalize this.name}}</td>
                        <td>{{capitalize this.teacher}}</td>
                        <td>{{formatDate this.updatedAt}}</td>
                        <td>
                          <div class="dropdown">
                            <a
                              class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                              href="#"
                              role="button"
                              data-toggle="dropdown"
                              aria-expanded="false"
                            >
                              <i class="dw dw-more"></i>
                            </a>
                            <div
                              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                              style=""
                            >
                              <a
                                class="dropdown-item"
                                href="javascript:null"
                                onclick="viewResult('{{this.resultId}}')"
                              ><i class="dw dw-eye"></i>
                                View</a>
                              <a
                                class="dropdown-item"
                                href="javascript:null"
                                onclick="editResult('{{this.resultId}}')"
                              ><i class="dw dw-edit2"></i>
                                Edit</a>
                              <a
                                class="dropdown-item"
                                href="javascript:null"
                                onclick="deleteResult('{{this._id}}')"
                              ><i class="dw dw-delete-3"></i>
                                Delete</a>
                              <a
                                class="dropdown-item"
                                href="javascript:null"
                                onclick="approveResult('{{this.resultId}}')"
                              ><i class="dw dw-delete-3"></i>
                                Approve</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {{/each}}
                  {{else}}
                    <tr role="row" class="even">
                      <td class="table-plus sorting_1" tabindex="0">No result
                        Available</td>
                    </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-5"><div
                class="dataTables_info"
                id="DataTables_Table_0_info"
                role="status"
                aria-live="polite"
              >1-12 of 12 entries</div>
            </div>
            <div class="col-sm-12 col-md-7">
              <div
                class="dataTables_paginate paging_simple_numbers"
                id="DataTables_Table_0_paginate"
              >
                <ul class="pagination">
                  <li
                    class="paginate_button page-item previous disabled"
                    id="DataTables_Table_0_previous"
                  >
                    <a
                      href="#"
                      aria-controls="DataTables_Table_0"
                      data-dt-idx="0"
                      tabindex="0"
                      class="page-link"
                    ><i class="ion-chevron-left"></i>
                    </a>
                  </li>
                  <li class="paginate_button page-item active"><a
                      href="#"
                      aria-controls="DataTables_Table_0"
                      data-dt-idx="1"
                      tabindex="0"
                      class="page-link"
                    >1</a>
                  </li><li
                    class="paginate_button page-item next disabled"
                    id="DataTables_Table_0_next"
                  ><a
                      href="#"
                      aria-controls="DataTables_Table_0"
                      data-dt-idx="2"
                      tabindex="0"
                      class="page-link"
                    ><i class="ion-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

{{> scripts}}
{{> _toasts}}
{{> _toast_footer}}
{{!-- <script src="/js/admin-result.js"></script> --}}

<script>
  const modal = document.getElementById("modal-1");
  const remove = document.getElementById("remove-modal");

  const viewResult = (id) => {
    let url = `${window.location.protocol}//${window.location.host}/results/admin/view/${id}`

    window.location.href = url
  }
  const editResult = (id) => {
    let url = `${window.location.protocol}//${window.location.host}/users/admin/result/${id}`

    window.location.href = url
  }
  const deleteResult = (id) => {
    const form = document.createElement("form")
    const input = document.createElement("input")

    form.setAttribute("action", "/users/admin/delete-result")
    form.setAttribute("method", "POST")

    input.setAttribute("name", "id")
    input.setAttribute("value", id)
    input.setAttribute("type", "text")
    input.setAttribute("style", "display: none;")

    form.append(input)
    document.querySelector(".main-container").append(form)

    if(confirm("Are you sure u want to deleteresult")) {
        form.submit()
    }
  }
  const approveResult = (id) => {
    modal.click()

    let url = `${window.location.protocol}//${window.location.host}/users/api/admin/approve`

    axios
      .post(
        url,
        {
          id,
          check: true
        },
        {
          headers: { "Content-Type": "application/json" },
        }
      )
      .then((res) => {
        const {data} = res

        if(data.approved) {
          document.getElementById("loading").style.display = "none"
          document.getElementById("success-show").style.display = "block"

          const el = document.getElementById(data.resultId);
          el.remove();

          setTimeout(() => {
            remove.click();
          }, 1500);
        }
      });
    }
</script>

<script>
  const generalCheck = document.getElementById("general-check");
  const checkBoxes = document.querySelectorAll(".check-box");

  // Add change event listener to the general check checkbox
  generalCheck.addEventListener("change", () => {
    checkBoxes.forEach((checkBox) => {
      checkBox.checked = generalCheck.checked;
    });
  });

  // Add change event listener to the check-box checkboxes
  checkBoxes.forEach((checkBox) => {
    checkBox.addEventListener("change", () => {
      const allChecked = [...checkBoxes].every((checkBox) => checkBox.checked);
      generalCheck.checked = allChecked;
    });
  });
</script>