<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="/users/admin" class="logo">Result Portal</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/admin" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">home</span>

              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/teachers" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">group</span>

              <span>Teachers</span>
            </a>
          </li>
          <li>
            <a
              href="/users/admin/register-teachers"
              class="navbar-link icon-box"
            >
              <span class="material-symbols-rounded icon">how_to_reg</span>

              <span>Register Teacher</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/results" class="navbar-link active icon-box">
              <span class="material-symbols-rounded icon">local_library</span>

              <span>Results</span>
            </a>
          </li>
          <li>
            <a
              href="/users/admin/results-archives"
              class="navbar-link icon-box"
            >
              <span class="material-symbols-rounded icon">archive</span>

              <span>Archives</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li>
        </ul>

        <ul class="user-action-list">
          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">{{name}}</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>

<main>
  <article class="container article">

    <h2 class="h2 article-title">Hi {{user}}</h2>

    <p class="article-subtitle">Welcome to Result Portal</p>

    <section class="tasks">

      <div class="section-title-wrapper">
        <h2 class="section-title">Results</h2>
        <p id="host" style="display: none;">{{host}}</p>
      </div>

      {{#if Result}}
        {{#each Result}}
          <form
            action="/users/admin/add-message"
            method="post"
            style="margin-bottom: 10px;"
          >
            <ul class="tasks-list">
              <li class="tasks-item">
                <div class="card task-card">

                  <div class="card-input">
                    <input
                      type="checkbox"
                      name="{{this.resultId}}"
                      id="task-{{this.resultId}}"
                      class="result"
                    />

                    <label for="task-1" class="task-label">
                      <a
                        href="{{host}}/results/admin/view/{{this.resultId}}"
                        target="_blank"
                      >Click here to view result</a>
                    </label>
                  </div>
                  <div>
                    <div class="card-badge cyan radius-pill">{{this.name}}</div>

                    <div
                      class="card-badge orange radius-pill"
                    >{{this.teacher}}</div>
                  </div>

                  <ul class="card-meta-list">

                    <li>
                      <div class="meta-box icon-box">
                        <span>
                          <input
                            type="text"
                            placeholder="message"
                            name="message"
                          />
                          <input
                            type="text"
                            value="{{this.resultId}}"
                            name="resultId"
                            style="display: none;"
                          />
                        </span>
                      </div>
                    </li>

                    <li>
                      <div class="card-badge green" style="margin-bottom: 5px;">
                        <button type="submit" class="green">Send</button>
                      </div>
                      <div class="card-badge blue">
                        <a
                          style="color: #fff;"
                          href="/users/admin/result/{{this.resultId}}"
                        >Edit</a>
                      </div>
                    </li>

                  </ul>

                </div>
              </li>
            </ul>
          </form>
        {{/each}}
      {{else}}
        <ul class="tasks-list">
          <li class="tasks-item">
            <div class="card task-card">
              <div class="card-input">
                <input type="checkbox" name="task-1" id="task-1" />
                <label for="task-1" class="task-label">
                  No Result Available
                </label>
              </div>
            </div>
          </li>
        </ul>
      {{/if}}
    </section>
  </article>
</main>
<script src="/js/admin-result.js"></script>
