{{> dash_loader}}
{{> dash_header}}
{{> left_sidebar }}
<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="title pb-20">
      <h2 class="h3 mb-0">Teachers Overview</h2>
    </div>

    <div class="card-box pb-10">
      <div class="h5 pd-20 mb-0">Teachers List</div>
      <div
        id="DataTables_Table_0_wrapper"
        class="dataTables_wrapper dt-bootstrap4 no-footer"
      >
        <div class="row">
          <div class="col-sm-12 col-md-6"></div><div
            class="col-sm-12 col-md-6"
          ></div></div>
        <div class="row"><div class="col-sm-12"><table
              class="data-table table nowrap dataTable no-footer dtr-inline"
              id="DataTables_Table_0"
              role="grid"
            >
              <thead>
                <tr role="row">
                  <th
                    class="table-plus sorting_asc"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Name: activate to sort column descending"
                  >Name</th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Gender: activate to sort column ascending"
                  >Username</th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Weight: activate to sort column ascending"
                  >Classname</th>
                  <!--<th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Disease: activate to sort column ascending"
                  >Disease</th> -->
                  <th
                    class="datatable-nosort sorting_disabled"
                    rowspan="1"
                    colspan="1"
                    aria-label="Actions"
                  >Actions</th></tr>
              </thead>
              <tbody>
                {{#if Teachers}}
                  {{#each Teachers}}
                    <tr role="row" class="odd">
                      <td class="table-plus sorting_1" tabindex="0">
                        <div class="name-avatar d-flex align-items-center">
                          <div class="avatar mr-2 flex-shrink-0">
                            <img
                              src="/images/user.png"
                              class="border-radius-100 shadow"
                              width="40"
                              height="40"
                              alt="teacher user"
                            />
                          </div>
                          <div class="txt">
                            <div class="weight-600">{{this.name}}</div>
                          </div>
                        </div>
                      </td>
                      <td>{{this.username}}</td>
                      <td>{{this.className}}</td>
                      <td>
                          <div class="table-actions">
                            <a
                              href="javascript:null"
                              onclick="edit('{{this._id}}')"
                              data-color="#265ed7"
                              style="color: rgb(38, 94, 215);"
                            ><i class="icon-copy dw dw-edit2 edit"></i></a>
                            <a
                              href="javascript:null"
                              onclick="deleteEl('{{this._id}}')"
                              data-color="#e95959"
                              style="color: rgb(233, 89, 89);"
                            ><i class="icon-copy dw dw-delete-3 delete"></i></a>
                          </div>
                      </td>
                      <!-- <td>
                    <span
                      class="badge badge-pill"
                      data-bgcolor="#e7ebf5"
                      data-color="#265ed7"
                      style="color: rgb(38, 94, 215); background-color: rgb(231, 235, 245);"
                    >Diabetes</span>
                  </td> -->
                      
                    </tr>
                  {{/each}}
                {{else}}
                <tr role="row" class="odd">
                  <td class="table-plus sorting_1" tabindex="0">
                    <div class="name-avatar d-flex align-items-center">
                      <div class="avatar mr-2 flex-shrink-0">
                        <img
                          src="/images/user.png"
                          class="border-radius-100 shadow"
                          width="40"
                          height="40"
                          alt="teacher user"
                        />
                      </div>
                      <div class="txt">
                        <div class="weight-600">No Teacher Found!</div>
                      </div>
                    </div>
                  </td>
                </tr>
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        {{#if pagination}}
        <div class="row">
          <div class="col-sm-12 col-md-5"></div>
          <div class="col-sm-12 col-md-7">
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="DataTables_Table_0_paginate"
            >
              <ul class="pagination">
                {{#paginate pagination type="previous"}}
                <li
                  class="paginate_button page-item previous {{#if disabled}} disabled{{/if}}"
                  id="DataTables_Table_0_previous"
                >
                  <a
                    href="?p={{n}}"
                    aria-controls="DataTables_Table_0"
                    data-dt-idx="0"
                    tabindex="0"
                    class="page-link"
                  ><i class="ion-chevron-left"></i>
                  </a>
                </li>
                {{/paginate}}

                {{#paginate pagination type="middle" limit="3"}}
                  <li class="paginate_button page-item  {{#if active}} active disabled{{/if}}">
                      <a
                      href="?p={{n}}"
                      aria-controls="DataTables_Table_0"
                      data-dt-idx="1"
                      tabindex="0"
                      class="page-link"
                    >{{n}}</a>
                  </li>
                {{/paginate}}
                  
                {{#paginate pagination type="next"}}
                <li
                  class="paginate_button page-item next {{#if disabled}} disabled{{/if}}"
                  id="DataTables_Table_0_next"
                >
                  <a
                    href="?p={{n}}"
                    aria-controls="DataTables_Table_0"
                    data-dt-idx="0"
                    tabindex="0"
                    class="page-link"
                  ><i class="ion-chevron-right"></i>
                  </a>
                </li>
                {{/paginate}}
              </ul>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    
  </div>
</div>
{{> scripts}}
<script src="/plugins/apexcharts/apexcharts.min.js"></script>
<script src="/vendors/scripts/dashboard.js"></script>
{{> _toasts}}
{{> _toast_footer}}


<script src="/js/users/admin-teachers.js"></script>