<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="/users/admin" class="logo">Result Portal</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/admin" class="navbar-link active icon-box">
              <span class="material-symbols-rounded icon">home</span>

              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/teachers" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">group</span>

              <span>Teachers</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/register-teachers" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">how_to_reg</span>

              <span>Register Teacher</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/results" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">local_library</span>

              <span>Results</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/results-archives" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">archive</span>

              <span>Archives</span>
            </a>
          </li>
          <li>
            <a href="/users/admin/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li>
        </ul>

        <ul class="user-action-list">
          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">{{name}}</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>

<main>
  <article class="container article">

    <p class="article-subtitle">Register a new teacher</p>
    {{#if errors}}
    {{#each errors}}
      <p class="err" style="display: none;">{{this.msg}}</p>
    {{/each}}
    {{/if}}

    {{#if err}}
      {{#each err}}
        <p class="err" style="display: none;">{{this.msg}}</p>
      {{/each}}
    {{/if}}

    {{#if succ}}
      {{#each succ}}
        <p class="succ" style="display: none;">{{this.msg}}</p>
      {{/each}}
    {{/if}}
    
    <section class="home" style="width: 100%;">
      <div class="card profile-card" style="width: 100%;">
        <div class="profile-card-wrapper">
          <form class="fund-form" action="/users/admin/update-teacher" method="POST" style="width: 100%;">
        {{#if Teacher}}
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Class"
                name="class"
                value="{{Teacher.className}}"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Teacher's Username"
                name="username"
                value="{{Teacher.username}}"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Session"
                name="session"
                value="{{Teacher.session}}"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Resumption Date"
                name="resDate"
                value="{{Teacher.resDate}}"
              />
            </div>
            <div id="sub-child">
            {{#if Teacher.sub1}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub1"
                id="sub-1"
                value="{{Teacher.sub1}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub2}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub2"
                id="sub-2"
                value="{{Teacher.sub2}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub3}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub3"
                id="sub-3"
                value="{{Teacher.sub3}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub4}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub4"
                id="sub-4"
                value="{{Teacher.sub4}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub5}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub5"
                id="sub-5"
                value="{{Teacher.sub5}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub6}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub6"
                id="sub-6"
                value="{{Teacher.sub6}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub7}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub7"
                id="sub-7"
                value="{{Teacher.sub7}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub8}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub8"
                id="sub-8"
                value="{{Teacher.sub8}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub9}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub9"
                id="sub-9"
                value="{{Teacher.sub9}}"
              />
            </div>
            {{/if}}
            {{#if Teacher.sub10}}
              <div class="form-control flex" style="width: 100%;">
              <input
                type="text"
                placeholder="Subject..."
                name="sub10"
                id="sub-10"
                value="{{Teacher.sub10}}"
              />
            </div>
            {{/if}}
            </div>
            <div class="form-control flex" style="width: 100%;" cl>
              <button style="display:inline-block; font-size: 15px; margin-left: 5px; background-color: #17a2b8; color:white; padding: 5px; text-align: center; font-weight: bold;" type="button" id="add-subject">Add Subject</button>
            </div>
        {{/if}}
            <div class="form-control" style="width: 100%;">
              <input
                type="password"
                placeholder="Password"
                name="password"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <input
                type="password"
                placeholder="Repeat Password"
                name="password2"
              />
            </div>
            <div class="form-control" style="width: 100%; display:none;">
              <input
                type="text"
                value="{{Teacher._id}}"
                name="id"
              />
            </div>
            <button class="user-button">Updated Teacher</button>
          </form>

        </div>
      </div>

      
      
    </section>
  </article>
</main>

<script>
    let errors = document.getElementsByClassName('err');
  if (errors) {
    for(let i = 0; i < errors.length; i++) {
    Toastify({
      text: errors[i].innerHTML,
      duration: 8000,
      destination: "",
      newWindow: true,
      close: true,
      gravity: "top", // `top` or `bottom`
      position: "right", // `left`, `center` or `right`
      stopOnFocus: true, // Prevents dismissing of toast on hover
      style: {
        background: '#dc3545', // "#007bff"
      },
      onClick: function(){} // Callback after click
    }).showToast();
  }
  }

  let succ = document?.getElementsByClassName('succ');
  if(succ) {
    for(let i = 0; i < succ.length; i++) {
    Toastify({
      text: succ[i].innerHTML,
      duration: 8000,
      destination: "",
      newWindow: true,
      close: true,
      gravity: "top", // `top` or `bottom`
      position: "right", // `left`, `center` or `right`
      stopOnFocus: true, // Prevents dismissing of toast on hover
      style: {
        background: '#28a745', // "#007bff"
      },
      onClick: function(){} // Callback after click
    }).showToast();
  }
  }
</script>