<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="/users/teacher" class="logo">Result Portal</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/teacher" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">home</span>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a
              href="/users/teacher/results"
              class="navbar-link active icon-box"
            >
              <span class="material-symbols-rounded icon">local_library</span>
              <span>Results</span>
            </a>
          </li>
          <li>
            <a
              href="/users/teacher/generate-results"
              class="navbar-link icon-box"
            >
              <span class="material-symbols-rounded icon">library_books</span>
              <span>Generate Results</span>
            </a>
          </li>
          {{! <li>
            <a href="/users/admin/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li> }}
        </ul>

        <ul class="user-action-list">
          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">{{name}}</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>
{{> _toasts}}
<main>
  <article class="container article">

    <h2 class="h2 article-title">Hi {{user}}</h2>

    <p class="article-subtitle">Welcome to Result Portal</p>

    <section class="tasks">

      <div class="section-title-wrapper">
        <h2 class="section-title">Results</h2>
      </div>

      {{#if Result}}
        {{#each Result}}
          <ul class="tasks-list" style="margin-bottom: 10px;">
            <li class="tasks-item">
              <div class="card task-card">

                <div class="card-input">
                  {{!-- <input type="checkbox" name="task-1" id="task-1" /> --}}

                  <label for="task-1" class="task-label">
                    <a href="{{host}}/results/teacher/view/{{this.resultId}}" target="_blank">Click
                      here to view result</a>
                  </label>
                </div>

                <div class="card-badge cyan radius-pill">{{capitalize this.name}}</div>

                {{#if this.approved}}
                  <form action="/users/teacher/send-result" method="post">
                    <ul class="card-meta-list">
                      <li>
                        <div class="meta-box icon-box">
                          <span>
                            <input
                              type="email"
                              placeholder="email"
                              name="email"
                            />
                            <input
                              type="text"
                              value="{{host}} {{this.resultLink}}"
                              name="link"
                              style="display: none;"
                            />
                            <input
                              type="text"
                              value="{{this.name}}"
                              name="studName"
                              style="display: none;"
                            />
                          </span>
                        </div>
                      </li>

                      <li>
                        <div class="card-badge green">
                          <button type="submit" class="green">Send</button>
                        </div>
                      </li>

                    </ul>
                  </form>
                {{else}}
                  <ul class="card-meta-list">
                    <li>
                      <div class="card-badge blue">
                        <a
                          style="color: #fff;"
                          href="/users/teacher/result/{{this.resultId}}"
                        >Edit</a>
                      </div>
                    </li>

                  </ul>
                {{/if}}
              </div>
            </li>
          </ul>
        {{/each}}
      {{else}}
        <ul class="tasks-list">
          <li class="tasks-item">
            <div class="card task-card">
              <div class="card-input">
                {{!-- <input type="checkbox" name="task-1" id="task-1" /> --}}
                <label for="task-1" class="task-label">
                  No Result Available
                </label>
              </div>
            </div>
          </li>
        </ul>
      {{/if}}
    </section>

    <section class="tasks">

      <div class="section-title-wrapper">
        <h2 class="section-title">Messages</h2>
      </div>

      {{#if Messages}}
        {{#each Messages}}
          <ul class="tasks-list" style="margin-bottom: 10px;">
            <li class="tasks-item">
              <div class="card task-card">

                <div class="card-input">
                  {{!-- <input type="checkbox" name="task-1" id="task-1" /> --}}

                  <label for="task-1" class="task-label">
                    {{this.message}}
                  </label>
                </div>

                <div class="card-badge cyan radius-pill">{{capitalize this.name}}</div>
              </div>
            </li>
          </ul>
        {{/each}}
      {{else}}
        <ul class="tasks-list">
          <li class="tasks-item">
            <div class="card task-card">
              <div class="card-input">
                <input type="checkbox" name="task-1" id="task-1" />
                <label for="task-1" class="task-label">
                  No Message
                </label>
              </div>
            </div>
          </li>
        </ul>
      {{/if}}
    </section>
  </article>
</main>

{{> _toastfooter}}