{{!-- <h1>Hello {{user}}, welcome to result portal</h1>
<a href="/users/logout">logout</a> --}}

<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="/users/teacher" class="logo">Result Portal</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/teacher" class="navbar-link active icon-box">
              <span class="material-symbols-rounded icon">home</span>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/users/teacher/results" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">local_library</span>
              <span>Results</span>
            </a>
          </li>
          <li>
            <a
              href="/users/teacher/generate-results"
              class="navbar-link icon-box"
            >
              <span class="material-symbols-rounded icon">library_books</span>
              <span>Generate Results</span>
            </a>
          </li>
          {{! <li>
            <a href="/users/admin/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li> }}
        </ul>

        <ul class="user-action-list">
          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">{{name}}</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>

<main>
  <article class="container article">

    <h2 class="h2 article-title">Hi {{user}}</h2>

    <p class="article-subtitle">Welcome to Result Portal</p>

    {{!-- <div class="home">
      <div class="card-wrapper">
        <div class="card">
          <form action="/users/teacher/set-record" method="POST">
            <div class="input-group">
              <label for="name">Session</label>
              <input type="text" name="year" placeholder="Enter Year" />
            </div>

            <div class="input-group">
              <label for="name">Term</label>
              <input type="text" name="term" placeholder="Enter Year" />
            </div>

            <div class="input-group">
              <label for="name">Resumption Date</label>
              <input type="text" name="resDate" placeholder="Enter Date" />
            </div>

            {{! <div class="input-group">
            <label for="name">Position</label>
            <input type="text" name="sub1" placeholder="Enter position">
          </div> }}

            <div class="input-group subject">
              <div class="" id="sub-child">
                <label for="Subjects">Subjects</label>
                <input type="text" id="sub-1" name="sub1" placeholder="Subject..." />
              </div>
              <input
                type="button"
                value="Add Subject"
                id="add-subject"
                style="background-color: #6c757d; color:#fff; font-weight:500; border: #6c757d; cursor: pointer"
              />
            </div>
            <button class="btn btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div> --}}

    {{! HOME }}

    {{!-- <section class="home">

      <div class="card profile-card">
        <div class="profile-card-wrapper">
          <div>
            <p class="card-title">Active Investment</p>
          </div>

        </div>

        <div class="divider card-divider"></div>

        <ul class="progress-list">

          <li class="progress-item">

            <div class="progress-label">
              <p class="progress-title">Plan</p>
            </div>

            <div class="progress-label">
              <p>{{activePlan}}</p>
            </div>

          </li>

          <li class="progress-item">

            <div class="progress-label">
              <p class="progress-title">Amount</p>
            </div>

            <div class="progress-label">
              {{#if amount}}
                <p class="bold">$ {{amount}}</p>
              {{else}}
                <p>Not funded</p>
              {{/if}}
            </div>

          </li>

        </ul>

      </div>

      <div class="card-wrapper">

        <div class="card task-card">

          <div class="card-icon icon-box green">
            <span class="material-symbols-rounded icon">account_balance</span>
          </div>

          <div>
            {{#if lastWith}}
            <data class="card-data" value="21"> {{lastWith}} </data>
            {{else}}
            <data class="card-data" value="21"> 0 </data>
            {{/if}}

            <p class="card-text">Last Amount Withdrawn</p>
          </div>

        </div>

        <div class="card task-card">

          <div class="card-icon icon-box green">
            <span class="material-symbols-rounded icon">group</span>
          </div>

          <div>
            <data class="card-data" value={{count}}> {{count}} </data>

            <p class="card-text">Total Referrals</p>
          </div>

        </div>

      </div>

      <div class="card revenue-card">

        <button class="card-menu-btn icon-box" aria-label="More" data-menu-btn>
          <span class="material-symbols-rounded icon">more_horiz</span>
        </button>

        <ul class="ctx-menu">
          <li class="ctx-item">
            <button class="ctx-menu-btn icon-box">
              <span
                class="material-symbols-rounded icon"
                aria-hidden="true"
              >cached</span>

              <span class="ctx-menu-text">Refresh</span>
            </button>
          </li>
        </ul>

        <p class="card-title">Revenue</p>
        <data class="card-price" value="2100">$ {{revenue}}</data>
        <p class="card-text">Refresh every 24hrs</p>
        <div class="divider card-divider"></div>

        <ul class="revenue-list">
          <li class="revenue-item icon-box">
            <span class="material-symbols-rounded icon green">trending_up</span>
          </li>
        </ul>
      </div>
    </section> --}}

    {{! Account History }}

    {{!-- <section class="tasks">

      <div class="section-title-wrapper">
        <h2 class="section-title">Account History</h2>
      </div>

      <ul class="tasks-list">

        <li class="tasks-item">
          <div class="card task-card">

            <div class="card-input">
              <label for="task-1" class="task-label">
                {{openDesc}}
              </label>
            </div>

            <div class="card-badge cyan radius-pill">{{formatDate
                openDate
              }}</div>
            <ul class="card-meta-list">
              <li>
                <div class="meta-box icon-box">
                  <data value="{{openAmt}}">$ {{openAmt}}</data>
                </div>
              </li>
            </ul>
          </div>
        </li>

        {{! Profile }}
        <li class="tasks-item">
          <div class="card task-card">
            {{#if profile}}
              <div class="card-input">
                <label for="task-1" class="task-label">
                  {{profileDesc}}
                </label>
              </div>

              <div class="card-badge cyan radius-pill">{{formatDate
                  profileDate
                }}</div>
              <ul class="card-meta-list">
                <li>
                  <div class="meta-box icon-box">
                    <data value="{{profileAmt}}">$ {{profileAmt}}</data>
                  </div>
                </li>
              </ul>
            {{else}}
              <div></div>
            {{/if}}
          </div>
        </li>

        {{! Fund }}
        <li class="tasks-item">
          <div class="card task-card">
            {{#if fundDate}}
              <div class="card-input">
                <label for="fundDesc" class="task-label">
                  {{fundDesc}}
                </label>
              </div>

              <div class="card-badge cyan radius-pill">
                {{formatDate fundDate}}
              </div>
              <ul class="card-meta-list">
                <li>
                  <div class="meta-box icon-box">
                    <data value="{{amount}}">$ {{amount}}</data>
                  </div>
                </li>
              </ul>
            {{else}}

            {{/if}}
          </div>
        </li>
      </ul>

    </section> --}}

  </article>
</main>

<script src="/js/gen-result.js"></script>