{{> dash_loader}}
{{> dash_header}}
{{> left_sidebar}}


<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="title pb-20">
      <h2 class="h3 mb-0">Generate Result</h2>
    </div>

    <!-- Default Basic Forms Start -->
<div class="pd-20 card-box mb-30">
  <div class="clearfix">
    <div class="pull-left">
      <h4 class="text-blue h4">Default Basic Forms</h4>
      <p class="mb-30">All bootstrap element classies</p>
    </div>
  </div>
  <form action="/users/teacher/generate-result" method="POST" autocomplete="off">
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Name</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" readonly name="name" value="{{student.name}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Username</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" readonly name="username" value="{{student.username}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Gender</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" readonly name="gender" value="{{student.gender}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Session</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" readonly name="session" value="{{session}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Term</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" readonly name="term" value="{{term}}" />
      </div>
    </div>
    {{#each subjects}}
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">{{this.sub}}</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" name="{{this.id}}title" value="{{this.sub}}" readonly />
        <input class="form-control" type="text" name="{{this.id}}firstAss" placeholder="First Assesment" />
        <input class="form-control" type="text" name="{{this.id}}secAss" placeholder="Second Assesment" />
        <input class="form-control" type="text" name="{{this.id}}thirdAss" placeholder="Third Assesment" />
        <input class="form-control" type="text" name="{{this.id}}project" placeholder="Project" />
        <input class="form-control" type="text" name="{{this.id}}exam" placeholder="Exam" />
        <input class="form-control" type="text" name="{{this.id}}subAve" placeholder="Subject Average" />
      </div>
    </div>
    {{/each}}
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Comment</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" name="tcomment" placeholder="Teachers Comment" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Resumption Date</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" readonly name="resDate" value="{{teacher.resDate}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label">Total Subject</label>
      <div class="col-sm-12 col-md-10">
        <input class="form-control" type="text" readonly name="tSubject" value="{{ts}}" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-12 col-md-2 col-form-label"></label>
      <div class="pull-right" style="margin: 10px auto;">
      <button
        class="btn btn-primary btn-lg"
        style="width: 100%;"
        type="submit"
      >Generate Result</button>
    </div>
    </div>
  </form>
  </div>
  </div>
</div>


{{> scripts}}
{{> _toasts}}
{{> _toast_footer}}
