{{> dash_loader}}
{{> dash_header}}
{{> left_sidebar }}
<div class="main-container">
  <div class="xs-pd-20-10 pd-ltr-20">
    <div class="card-box mb-30">
      <div class="pd-20">
        <h4 class="text-blue h4">Result Data Table</h4>
      </div>
      <div class="pb-20">
        <div id="" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12">
              <table
                class="data-table table stripe hover nowrap dataTable no-footer dtr-inline checkbox-datatable"
                role="grid"
                aria-describedby="DataTables_Table_0_info"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="table-plus datatable-nosort sorting_asc"
                      rowspan="1"
                      colspan="1"
                      aria-label="Name"
                    >Name</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Address: activate to sort column ascending"
                    >Username</th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Start Date: activate to sort column ascending"
                    >Result</th>
                    <th
                      class="datatable-nosort sorting_disabled"
                      rowspan="1"
                      colspan="1"
                      aria-label="Action"
                    >Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if generatedStudents}}
                    {{#each generatedStudents}}
                      <tr role="row" class="odd">
    
                        <td
                          class="table-plus sorting_1"
                          tabindex="0"
                        >{{capitalize this.name}}</td>
                        <td>{{this.username}}</td>
                        <td>
                            <span
                                class="badge badge-pill"
                                data-bgcolor="#e7ebf5"
                                data-color="#265ed7"
                                style="color: rgb(38, 94, 215); background-color: rgb(231, 235, 245);"
                                >Generated
                            </span>
                        </td>
                        <td>
                          <a
                          class="dropdown-item"
                            href="javascript:null"
                            onclick="viewEditResult('{{this._id}}')"
                          ><i class="dw dw-edit2"></i>
                            Edit</a>
                        </td>
                      </tr>
                    {{/each}}
                  {{/if}}
                  {{#if unGeneratedStudents}}
                    {{#each unGeneratedStudents}}
                      <tr role="row" class="odd">
    
                        <td
                          class="table-plus sorting_1"
                          tabindex="0"
                        >{{capitalize this.name}}</td>
                        <td>{{this.username}}</td>
                        <td>
                            <span
                                class="badge badge-pill"
                                data-bgcolor="#e7ebf5"
                                data-color="#dc3545"
                                style="color: #dc3545; background-color: rgb(231, 235, 245);"
                                >Not Generated
                            </span>
                        </td>
                        <td>
                          <a
                            class="dropdown-item"
                            href="javascript:null"
                            onclick="viewGenerateResult('{{this._id}}')"
                          ><i class="dw dw-edit2"></i>
                            Generate</a>
                        </td>
                      </tr>
                    {{/each}}
                  {{else}}
                    <tr role="row" class="even">
                      <td class="table-plus sorting_1" tabindex="0">No data
                        Available</td>
                    </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

{{> scripts}}
{{> _toasts}}
{{> _toast_footer}}

<script src="/js/users/teacher-result-session.js"></script>
